body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1000px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */

.main-content-section {
  padding: 60px 60px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

/* About me section */

.about-me-section {
  margin-bottom: 40px;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #000;
  margin: 0 0 20px 0;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}
.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* My projects section */

.my-projects-section {
  margin: 0 0 50px 0;
}

.my-projects-list {
  padding: 0 0 0 17px;
}

.my-projects-item {
  color: #000;
  font-weight: bold;
}

.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* My work expirience */

.my-work-expirience-company {
  color: #fb6d3a;
}

.my-work-expirience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.my-work-expirience-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my-work-expirience-divider {
  color: #000000;
}

.my-work-expirience-duties {
  padding: 0 0 0 18px;
}

.my-work-expirience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-expirience-company-block {
  margin: 0 15px 0 0;
}

/* sidebar section */
.sidebar-section {
  background-color: #1e2939;
  width: 500px;
  padding: 40px 0;
  overflow: hidden;
}

.Contacts-section {
  margin: 50px 0 0 40px;
}

.Tech-Skills-section {
  margin: 50px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Contacts section */

.Contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 7px;
}

.Contacts-section-link {
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* Tech skills section */

.Tech-Skills-list {
  padding: 0 0 0 17px;
}

.Tech-Skills-item {
  color: #fb6d3a;
}

.Tech-Skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

/* Soft skills section */

.Soft-Skills-section {
  margin: 50px 0 0 40px;
}

.Soft-Skills-list {
  padding: 0 0 0 17px;
}

.Soft-Skills-item {
  color: #fb6d3a;
}

.Soft_Skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
